<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kakeibo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".KakeiboApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme.Base"
        android:allowBackup="true"
        android:windowSoftInputMode="adjustResize"
        tools:replace="android:theme">
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.version"-->
<!--            android:value="@integer/google_play_services_version" />-->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.AD_MANAGER_APP"-->
<!--            android:value="true"/>-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3282892636336089~3692682630"/>
        <activity
            android:name=".feature_main.presentation.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakeibo.feature_settings.presentation.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".feature_main.presentation.MainActivity"/>
<!--        <activity-->
<!--            android:name=".ui.settings.category.edit.CustomCategoryActivity"-->
<!--            android:label="Custom Category"-->
<!--            android:parentActivityName="com.kakeibo.feature_settings.presentation.SettingsActivity"/>-->
<!--        <activity-->
<!--            android:name="com.kakeibo.feature_export.presentation.ImportExportActivity"-->
<!--            android:label="Export"-->
<!--            android:parentActivityName=".ui.MainActivity"/>-->

        <activity
            android:name="com.kakeibo.feature_settings.presentation.category_reorder.CategoryReorderActivity"
            android:label="@string/reorder_categories"
            android:parentActivityName=".feature_settings.presentation.SettingsActivity"/>
<!--        <activity-->
<!--            android:name="com.kakeibo.feature_settings.presentation.category_reorder.CategoryReorderActivity"-->
<!--            android:label="@string/reorder_categories"-->
<!--            android:parentActivityName="com.kakeibo.ui.settings.SettingsActivity"/>-->
<!--        <activity-->
<!--            android:name="com.kakeibo.ui.settings.category.edit.CustomCategoryActivity"-->
<!--            android:label="@string/create_category"-->
<!--            android:parentActivityName="com.kakeibo.ui.settings.SettingsActivity"/>-->
<!--        <activity-->
<!--            android:name="com.kakeibo.ui.settings.category.edit.CustomCategoryListActivity"-->
<!--            android:label="@string/custom_categories"-->
<!--            android:parentActivityName="com.kakeibo.ui.settings.SettingsActivity"/>-->
<!--        <activity android:name="com.kakeibo.ui.settings.InAppPurchasesActivity"-->
<!--            android:label="@string/in_app_purchases"-->
<!--            android:parentActivityName="com.kakeibo.ui.settings.SettingsActivity"/>-->
<!--        <activity android:name=".ui.settings.AboutActivity"-->
<!--            android:label="@string/about_this_app"-->
<!--            android:parentActivityName="com.kakeibo.ui.settings.SettingsActivity"/>-->
<!--        <activity android:name=".ui.SignInActivity"-->
<!--            android:label="Sign In"-->
<!--            android:parentActivityName=".ui.MainActivity"/>-->

<!--        <service-->
<!--            android:name=".InstanceIDService"-->
<!--            android:exported="true"-->
<!--            tools:ignore="ExportedService">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->
<!--        <service-->
<!--            android:name=".data.network.firebase.SubscriptionMessageService"-->
<!--            android:exported="true"-->
<!--            tools:ignore="ExportedService">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->
    </application>
</manifest>
