<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kakeibo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".KkbApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_mikan"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme.Base"
        tools:replace="android:theme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".export.CreateFileInFolderActivity"
            android:label="Export"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar"/>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="Settings"
            android:parentActivityName="com.kakeibo.MainActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar"/>
    </application>
</manifest>
